{% extends 'pages/_base.html' %}
{% block title %}Log in {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Регистрация</h2>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-dark">Регистрация</button>
    <button type="button" class="btn btn-dark text-light"><a class="text-light"  style="text-decoration: none; " href="{% url 'home' %}">Отмена</a></button>
</form>

{% endblock content %}