{% extends 'pages/_base.html' %}
{% block content %}
  <div class="row">
{% for forum in forums %}
    <div class="col-6">
  <div class="table-responsive headerss" >
  <h4 class="headerss">{{forum.name}}</h4>
  <table class="table table-hover table-striped table-bordered">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Категория</th>
        <th scope="col">Топиков</th>
      </tr>
    </thead>
    <tbody class="table-striped">
      {% for category in forum.categories.all %}
      <tr>
        <th><img class='folder' src="static/img/folder.png" width="35px"><a href="{% url 'category' category.id %}">{{category.name}}</a></th>
        <td>{{category.topics.count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
{% endfor %}
  </div>
{% endblock content %}