{% extends 'pages/_base.html' %}
{%block content%}
<ol class="headerss">
    <h4>Правила форума:</h4>
    <li><strong>Общие положения.</strong>
        <ol>
            <li>Форум предназначен для обсуждения вопросов IT-тематики и смежных с ней. Обсуждение политических тем запрещено.</li>
            <li>Каждый пользователь соглашается с настоящими Правилами фактом регистрации на форуме и участия в нем. Незнание Правил не освобождает от ответственности.</li>
            <li>Если пользователь отказывается соблюдать настоящие Правила, то он должен либо самостоятельно покинуть форум, либо его аккаунт будет заблокирован.</li>
            <li>Официальными языками форума являются русский и английский языки. Размещение сообщений на других языках запрещено.</li>
            <li>Администрация форума не несет ответственности за использование размещенной пользователями или рекламодателями информации.</li>
            <li>Действие Правил распространяется на весь форум, включая блоги, личные сообщения, а также на всех его участников.</li>
            <li>Настоящий форум является частным ресурсом, поэтому Администрация форума обладает исключительным правом определения политики в отношении пользователей, их обязанностей, правил поведения и публикуемого ими контента, а также вправе отказать в публикации и/или присутствии на форуме кому бы то ни было.</li>
            <li>Настоящие Правила могут быть изменены администрацией форума без уведомления пользователей.</li>
        </ol>
    </li>
    <li><strong>Политика в отношении пользователей и публикуемого ими контента.</strong>
        <ol>
            <li>Настоящие Правила распространяются на всех пользователей и весь контент, публикуемый ими на форуме.</li>
            <li>Аккаунты пользователей форума не удаляются.</li>
            <li>Сообщения и темы, а также другой контент, размещаемый на форуме, по просьбам пользователей не удаляется и не закрывается.</li>
            <li>Темы, сообщения и любой другой контент, размещенный на форуме, может быть отредактирован или удален Администрацией форума без уведомления их автора.</li>
        </ol>
    </li>
    <li><b>Правила поведения на форуме.</b>
        <ol>
            <li>Уважительно относитесь к другим участникам форума.</li>
            <li>Не втягивайтесь в конфликты между пользователями: в этом случае Вы станете их участником и понесете равную ответственность с зачинщиками конфликта.</li>
            <li>Не отсылайте других пользователей в поиск и избегайте ссылок на поисковые системы (Google, Yandex и др.). Самостоятельно найдите ответ на вопрос и разместите его на форуме.</li>
            <li>Избегайте использования слишком большого количества смайлов в сообщениях в тематических разделах форума, а также "кричащего" выделения текста, в том числе CAPS LOCK.</li>
            <li>Написание сообщений латиницей следует применять, только если нет никакой возможности набирать текст в русскоязычной раскладке.</li>
            <li>Если какой-либо пост на форуме показался вам полезным, то вы можете выразить свою благодарность, нажав кнопку "Спасибо" внизу самого поста.</li>
        </ol>
    </li>
    <li><strong>Порядок создания тем.</strong>
        <ol>
            <li>Прежде чем задать вопрос, воспользуйтесь поиском - возможно, ответ на него уже был дан ранее.</li>
            <li>Если собираетесь создать новую тему, определитесь с разделом или существующей темой, в которой ведется обсуждение этого вопроса.</li>
            <li>Создавайте темы с осмысленными и понятными названиями - это серьезно повышает шансы, что на ваш вопрос ответят.</li>
            <li>На каждый вопрос создавайте по одной теме - это помогает избежать путаницы в ответах и облегчает поиск.</li>
            <li>Не стоит ожидать, что на ваш вопрос ответят моментально. Ответ может быть дан как сразу, так и через некоторое время.</li>
            <li>Обсуждение вопросов - только в теме на форуме. Приглашения к обсуждению еще где-либо (в том числе и с помощью системы личных сообщений) запрещены, за исключением коммерческих разделов.</li>
            <li>Как можно более полно описывайте суть проблемы или вопроса, что было сделано для ее решения и какие результаты получены.</li>
            <li>Избегайте грамматических ошибок при написании сообщений - уважайте себя и других участников форума.</li>
            <li>Используйте тэги форматирования текста и редактор формул для удобства восприятия ваших сообщений другими пользователями.</li>
            <li>Если вопрос был решен вами самостоятельно, отпишите об этом в своей теме - есть и другие люди, которые столкнутся с той же проблемой, и им поможет ваш ответ.</li>
            <li>Картинки и любые другие файлы загружайте на форум, во избежание их удаления или потери на сторонних ресурсах. По этой же причине коды программ также должны находиться на форуме.</li>
            <li>Не стоит просить или предлагать выслать ответ в icq, e-mail и другие средства общения. Эта просьба все равно не будет выполнена, а сообщение будет отредактировано модератором.</li>
            <li>Если на ваш вопрос долгое время нет ответа, уточните его, приведите дополнительные сведения, которые могут помочь участникам форума решить вашу проблему.</li>
            <li>Чтобы "поднять" тему в разделе и поиске по форуму, используйте осмысленные сообщения, например "Тема/проблема/задача актуальна". Если вы чего-то достигли в решении проблемы на этот момент, сообщите об этом.</li>
        </ol>
    </li>
    <li><strong>Запреты и ограничения.</strong>
        <ol>
            <li>Запрещено размещать и обсуждать информацию, противоречащую законодательству Российской Федерации, в том числе приводящую к межнациональной розни и нетерпимости, а также материалы эротического содержания.</li>
            <li>Запрещено использовать нецензурные выражения в любом виде, оскорблять других участников форума, умышленно использовать выражения, противоречащие правилам русского языка, в том числе "олбанский" язык.</li>
            <li>Запрещено размещать любые материалы, нарушающие авторские права (без разрешения правообладателя), а также ссылки на них.</li>
            <li>Запрещено создавать темы с бессмысленными названиями вроде "Помогите!", "Вопрос" и т.п.</li>
            <li>Запрещено размещать тему в нескольких подразделах одного раздела одновременно (кросспостинг), а также дублировать тему в одном разделе. Кросспостинг абсолютно запрещен в случае размещения темы в разделах фриланса (разделы фриланса в этом случае являются приоритетными).</li>
            <li>Запрещено размещать контент рекламного содержания без согласия администрации форума.</li>
            <li>Запрещено обсуждение, создание и распространение вредоносного кода и ПО, вирусов, кряков и взлома лицензионного софта, а также публикация ссылок для их скачивания.</li>
            <li>Запрещено публиковать ссылки на другие форумы, а также их пропаганда. Публикация ссылок на форумы допустима только в разделе "Готовые движки, cms и форумы" для решения технических проблем и с предварительного одобрения администрации.</li>
            <li>Запрещено отсылать пользователей из тематических разделов в <a href="http://www.cyberforum.ru/freelance/">разделы фриланса</a>, а также рекламировать свои услуги или предлагать/просить/требовать оплату за помощь, кроме разделов для платных услуг.</li>
            <li>Запрещено накручивать репутацию и другую статистику пользователя любым способом, включая создание пользователей-клонов, а также склонять (агитировать) других пользователей к ее изменению.</li>
            <li>Запрещено давать ссылки на скачивание программ и книг с файлообменников и других сайтов (форумов), если есть возможность их скачать или купить на сайтах магазинов или их авторов/правообладателей.</li>
            <li>Запрещено создавать несколько учетных записей (пользователей-клонов).</li>
            <li>Запрещено использовать ники, аватары, подписи и другие элементы профиля, носящие рекламный характер, оскорбляющие участников форума, нарушающие настоящие Правила или законодательство Российской Федерации.</li>
            <li>Запрещено осуществлять злонамеренное вмешательство в работу форума с целью нарушения его работы или получения доступа к личным данным участников форума.</li>
            <li>Запрещено выкладывать обфусцированный код.</li>
            <li>Запрещено создавать темы с множеством вопросов во всех разделах, кроме разделов платных услуг. Один вопрос - одна тема.</li>
            <li>Запрещено избыточное цитирование. Цитируйте только необходимые части сообщений, на которые отвечаете.</li>
            <li>Запрещено размещать задания, коды программ и решения в виде картинок (кроме формул и блок-схем) и других файлов с их текстом.</li>
            <li>Запрещено создавать темы в виде ссылок на задания или коды программ, расположенные на других сайтах.</li>
            <li>Запрещено публиковать ответы на вопросы или решения задач с форума на другие сайты и давать на них ссылки в качестве ответа.</li>
            <li>Запрещено использовать ники, аватары и статусы, дублирующие, имитирующие или похожие на ники, аватары и статусы представителей администрации форума.</li>
            <li>Запрещено намеренно вводить других пользователей форума в заблуждение.</li>
            <li>Запрещено публичное обсуждение отзывов о репутации. Обсуждение может проводиться исключительно посредством личных сообщений с администраторами форума.</li>
            <li>Запрещено давать ответы в виде одной ссылки или списка ссылок. В этом случае необходимо привести ответ полностью и оставить ссылку на источник. Исключением являются ссылки на страницы самого форума.</li>
        </ol>
    </li>
    <li><strong>Об администрации форума.</strong>
        <ol>
            <li>К администрации форума относятся модераторы, супер-модераторы и администраторы.</li>
            <li>Принадлежность участника форума к администрации определяется цветом его ника и статусом.</li>
            <li>Администрация форума обладает исключительным правом на оценку действий участников форума, нарушивших настоящие Правила, и применение санкций против них.</li>
            <li>В прямые обязанности администрации форума входит контроль за соблюдением настоящих Правил и поддержание уважительных отношений между пользователями.</li>
            <li>Запрещено публично обсуждать действия администрации форума, касающиеся их прямых обязанностей.</li>
            <li>Требования администрации форума должны выполняться немедленно и безусловно.</li>
            <li>Санкции могут быть применены без предупреждения по усмотрению администрации форума.</li>
            <li>Любой участник форума имеет право знать причину, по которой к нему были применены санкции.</li>
            <li>Оскорбление, пренебрежение и другие проявления неуважения к администрации форума и ее действиям недопустимы, и могут повлечь применение санкций, вплоть до бана.</li>
            <li>Ситуации, не описанные в настоящих Правилах, решаются по усмотрению администрации форума.</li>
            <li>Действия модераторов могут быть обжалованы у администраторов форума.</li>
            <li>Представители администрации форума имеют право размещать в подписи активные ссылки на свои сайты или страницы (исключая форумы), рекламу своих услуг, а также графические изображения установленного размера.</li>
        </ol>
    </li>
    <li><strong>Политика конфиденциальности.</strong>
        <ol>
            <li>Для показа объявлений на нашем веб-сайте мы пользуемся услугами сторонних рекламных компаний. Эти компании могут использовать информацию (за исключением вашего имени, адреса, адреса электронной почты или номера телефона) о ваших посещениях этого веб-сайта и других веб-сайтов с целью предоставления наиболее релевантных объявлений о товарах и услугах.</li>
            <li>Администрация форума сохраняет приватность личных данных, указанных пользователем при регистрации. Однако, эти данные могут быть использованы для установления личности и местонахождения пользователя в случае нарушения им настоящих Правил или законодательства Российской Федерации.</li>
        </ol>
    </li>
</ol>
{% endblock content%}